# Archivos generados por Maven
target/

# Configuración local de IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Archivos compilados
*.class

# Archivos temporales
*.log
*.tmp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
